# Core
fastapi
uvicorn[standard]

# Gmail API
google-api-python-client
google-auth
google-auth-oauthlib

bs4

# LangChain + Groq
langchain
langchain-core
langchain-community
langchain-groq

# Env management
python-dotenv

requests
pydantic